body {
  background-color: rgb(215, 216, 230);
  text-align: center;
  /*font-size: 16px;*/
}
.header {
  font-style: italic;
  font-weight: bold;
  background-color: rgb(182,195,247);
  margin: 20px;
}
.name {
  text-align: center;
  color: black;
}
.about-me {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 10px;
}
.title {
  font-style: normal;
  text-transform: capitalize;
  font-weight: bold;
}
li{
  list-style: square;
}
/* .contact {
  opacity: 0.60;
}
 */
.update {
    font-style: italic;
    opacity: 0.80;
}
