body {
    background-color: rgb(215, 216, 230);
    text-align: center;
    /*font-size: 16px;*/
}

.header {
    font-style: italic;
    font-weight: bold;
    background-color: rgb(182, 195, 247);
    margin: 20px;
}

.name {
    text-align: center;
    color: black;
}

.about-me {
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
}

.title {
    font-style: normal;
    text-transform: capitalize;
    font-weight: bold;
}

li {
    list-style: square;
}


/* .contact {
  opacity: 0.60;
}
 */

.update {
    font-style: italic;
    opacity: 0.80;
}

#myBtn {
    /*display: none; /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 100px;
    /* Place the button at the bottom of the page */
    right: 50px;
    /* Place the button 10px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    /* background-color: rgba(255, 200, 284, 0.7); */
    background-color: rgba(182, 195, 247, 0.7);
    /* Set a background color */
    color: #4D4D4D;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 20px;
    /* Increase font size */
    /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 3ms; */
}

#myBtn:hover {
    background-color: rgb(117, 117, 117);
    /* Add a dark-grey background on hover */
    color: white;
}

div.container {
    /* width: 1000px; */
    padding-left: 60px;
    padding-right: 60px;
    /* align-items: center; */
    /* align-self: center; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%) */
}


/* 
.video {
    width: 100%;
    border: 1px solid black;
}

.wrapper {
    display: table;
    width: auto;
    position: relative;
    width: 50%;
}

.playpause {
    background-image: url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
} */